EXPO_PUBLIC_SUPABASE_URL=https://dxqezvkguswleoisxikz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_4YjkMWzHSFnxb4eCe4ukkw_j-yaPhd6
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoibmFjaG8wOTEwIiwiYSI6ImNtbjFiMGV5MzB1cXEycHB3NWdtZmdzb3gifQ.8cnnBhtxbBFyxnLrx8JVdg
EXPO_PUBLIC_OPENWEATHER_API_KEY=
EXPO_PUBLIC_WORLDTIDES_API_KEY=
UNSPLASH_ACCESS_KEY=
EXPO_PUBLIC_ADMOB_ANDROID_BANNER_ID=
EXPO_PUBLIC_ADMOB_IOS_BANNER_ID=
EXPO_PUBLIC_BILLING_URL=
ADMOB_ANDROID_APP_ID=
ADMOB_IOS_APP_ID=
